import React from 'react';

import './<%= block.fileName %>.scss';

const <%= block.className %> = (): JSX.Element => {
  return (
    <div className="<%= block.className %>">
      <%= block.className %>
    </div>
  )
}

export default <%= block.className %>;